.text-coder {
  color: white;
}

.btn-coder {
  background-color:white;
  color: red;
}

.btn-coder:hover {
  background-color:red;
  color: white;
}

.btn-coder-1 {
  background-color:#5da271;
  color: white;
}

.btn-coder-1:hover {
  background-color:red;
  color: white;
}

#header {
  background-color:#5da271;
}

#header img {
  width: 80px;
}

#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#gastronomia {
  background-color: #343a40;
  color: white;
}

#gastronomia img {
  max-width: 100%;
}

#footer {
  background: linear-gradient(90deg,#5da271,#55c274 25%, #4ceb79);
}

#footer a {
  color: white;
}
