$color-uno: white;
$color-dos: red;
$color-tres: #5da271;
$color-tres-b: #55c274;
$color-tres-c: #4ceb79;
$color-cuatro: #343a40;

.text-coder {
    color: $color-uno;
}

.btn-coder {
  background-color: $color-uno;
  color: $color-dos;
}


.btn-coder:hover {
  background-color:$color-dos;
  color: $color-uno;
}

.btn-coder-1 {
  background-color:$color-tres;
  color: $color-uno;
}

.btn-coder-1:hover {
  background-color:$color-dos;
  color: $color-uno;
}

#header {
  background-color:$color-tres;
}

#header img {
  width: 80px;
}

#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: $color-uno;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#gastronomia {
  background-color: $color-cuatro;
  color: white;
}

#gastronomia img {
  max-width: 100%;
}

#footer {
  background: linear-gradient(90deg,#5da271,#55c274 25%, #4ceb79);
}

#footer a {
  color: $color-uno;
}